PORT=5002
FRONTEND_ORIGIN=http://localhost:8080,http://localhost:8081,http://localhost:8082,https://in-terpay.web.app,https://in-terpay.firebaseapp.com
JWT_SECRET=sswirtueuedfjgjgjkd
MONGODB_URI=mongodb+srv://xivi9x:inters@cluster0.ugveyey.mongodb.net/cluster0?appName=Cluster0
MONGODB_DB_NAME=sswi
INTERSWITCH_MERCHANT_CODE=MX275874
INTERSWITCH_PAY_ITEM_ID=Default_Payable_MX275874
INTERSWITCH_CLIENT_ID=IKIAD3CB129318DC116F360353858C8918A6A2E6BDDC
INTERSWITCH_SECRET_KEY=SorVGTxGVZKTvr_
INTERSWITCH_MODE=TEST
INTERSWITCH_INLINE_SCRIPT_URL=https://newwebpay.qa.interswitchng.com/inline-checkout.js
INTERSWITCH_REDIRECT_URL=https://newwebpay.qa.interswitchng.com/checkout
